extends layout

block content
    div(class="row")
        div(class="col-md-8")
            div(class="card")
                h5(class="card-header") Search
                div(class="card-body")
                    div(class="input-group")
                        input(class="form-control"  placeholder="Search for city...")
                        span(class="input-group-btn")
                            button(class="btn btn-secondary" type="button") Go!

        div(class="col-md-4")

    script
        include ../controllers/search.js